* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Roboto";
  font-weight: 600;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.note-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.note {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  margin: 8px;
  border-radius: 10px;
  height: 300px;
  width: 240px;
  box-shadow: 2px 2px 5px 2px rgb(190, 190, 190);
}

.note-add {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.note-edit {
  padding: 4px;
  cursor: pointer;
}

.note-delete {
  padding: 4px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.note-title-input {
  resize: none;
}

.note-textarea {
  resize: none;
  height: 100px;
}
